html {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-base-family;
  height: 100%;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1E0606;
}

.btn {
  font-family: 'Open Sans';
  font-weight: 700;
  max-width: max-content;
  color: #FFFFFF;
  background: #000000;
  padding: 9px 22px;
  margin-top: 20px;
  line-height: 22px;
}

img {
  display: block;
  max-width: 100%;
}


.subject{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #1E0606;
}

.title__content {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #1E0606;
}

.undotted {
  list-style-type: none;
  margin: 0;
  padding: 0;
}





