<footer class="footer background">
    <div class="container footer__wrap title__footer">
        <section>
            <h5 class="title__footer-list">Navigaton</h5>
            <ul class="nav-item footer__title">
                <li class="footer__list">
                    <a class="title__footer-list-item" href="#">About Us</a>
                </li>
                <li class="footer__list">
                    <a class="title__footer-list-item" href="./pages/blog.html">Blog</a>
                </li>
                <li class="footer__list">
                    <a class="title__footer-list-item" href="#">Design Servises</a>
                </li>
                <li class="footer__list">
                    <a class="title__footer-list-item" href="#">Featured On</a>
                </li>
                <li class="footer__list">
                    <a class="title__footer-list-item" href="#">2018 Holiday Catalog</a>
                </li>
                <li class="footer__list">
                    <a class="title__footer-list-item" href="#">Shop By Designer</a>
                </li>
            </ul>
        </section>
        <section>
            <h5 class="title__footer-list">Customer information</h5>
            <ul class="customer-item footer__title">
                <li class="footer__list">
                    <a class="title__footer-list-item" href="contact.html">Contact Us</a>
                </li>
                <li class="footer__list">
                    <a class="title__footer-list-item" href="#">Sale Exclusions</a>
                </li>
                <li class="footer__list">
                    <a class="title__footer-list-item" href="#">Shopping&Returns</a>
                </li>
                <li class="footer__list">
                    <a class="title__footer-list-item" href="#">Terms&Conditions</a>
                </li>
                <li class="footer__list">
                    <a class="title__footer-list-item" href="#">Privacy Policy</a>
                </li>
                <li class="footer__list">
                    <a class="title__footer-list-item" href="#">Search</a>
                </li>
            </ul>
        </section>
        <section>
            <h5 class="title__footer-list">Connect</h5>
            <ul class="connect-item footer__title">
                <div>
                    <label for="input-email"></label>
                    <input class="input__footer" type="text" id="input-email" placeholder="Email">
                    <button class="btn-footer" type="join">Join</button>
                </div>
                <ul class="socials-footer">
                    <li><a class="soc-footer" href="#"><img src="./img/icon/facebook.svg" width="30" height="30" alt="facebook"></a></li>
                    <li><a class="soc-footer" href="https://investor.twitterinc.com/"><img src="./img/icon/twitter.svg" width="30" height="30" alt="twitter"></a></li>
                    <li><a class="soc-footer" href="https://ru.pinterest.com/"><img src="./img/icon/pinterest.svg" width="30" height="30" alt="pinterest"></a></li>
                    <li><a class="soc-footer" href="#"><img src="./img/icon/instagram.svg" width="30" height="30" alt="instagram"></a></li>
                </ul>
            </ul>
        </section>
    </div>
    <div class="container footer__inner-wrap">
        <div class="rating__wrap">
            <p><a class="footer__list-company" href="#">Company Rating</a></p>
            <div class="rating__group">
                <input type="radio" id="star-5" name="rating" value="5">
                <label class="label-rating" for="star-5" title="Супер"></label>
                <input type="radio" id="star-4" name="rating" value="4">
                <label class="label-rating" for="star-4" title="Хорошо"></label>
                <input type="radio" id="star-3" name="rating" value="3">
                <label class="label-rating" for="star-3" title="Пойдёт"></label>
                <input type="radio" id="star-2" name="rating" value="2">
                <label class="label-rating" for="star-2" title="Не очень"></label>
                <input type="radio" id="star-1" name="rating" value="1">
                <label class="label-rating" for="star-1" title="Все плохо"></label>
            </div>
        </div>
        <p class="footer__list-item">Copyright 2018 DLK Design Life Kids</p>
        <p class="footer__list-connect">Web Design - Direct Line Development</p>
    </div>
</footer>